<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Search For Your Favorite Movie!">
  <meta name="author" content="Group Project #2">

  <title>Movie Search</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- Custom styles -->
  <link href="static/css/main.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">Movie Search - Group Project #2</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Movie Search
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="visualizations">Movie Visualizations</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-12">
        
        <!-- TITLE -->                     
        <h1 class="font-weight-light" style="text-align:center">Search For Your Favorite Movie!</h1>
        <p style="text-align:center">Use the search bar below to search for your favorite film - we'll pull information from the Open Movie Database API.</p>
        <!-- END TITLE -->
        <!-- SEARCH BAR -->
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for a movie..." id="movieTitle"> 
          <span class="input-group-btn">
            <button id="submit"  type="submit" class="input-group-btn" style="background-color:blue;color:white;" class="input-group-btn">Search</button>
          </span>
        </div>
      </div>
        
    </div>
      <!-- END SEARCH BAR -->

    <!-- MOVIE TITLE -->
    <div class="card my-5 py-4 text-center">
      <div id="movie-title-div">
        <h2 id="movie-title"></h2>
      </div>
    </div>

    <!-- MOVIE DETAILS -->
    <div class="row">
      <div class="col-md-4" id="movie-info">
        <!--Section Title  --><div class="card text-white bg-secondary my-5 py-4 text-center"><div id="movie-title-div"><h2 id="movie-title">Details</h2></div></div>
        <h4>Release date: <span id="release-date" class="movie-details"></span></h4>
        <h4>Director: <span id="director" class="movie-details"></span></h4>
        <h4>Rating: <span id="rating" class="movie-details"></span></h4>
        <h4>Genre(s): <span id="genre" class="movie-details"></span></h4>
        <h4>Runtime: <span id="runtime" class="movie-details"></span></h4>
        <h4>IMDB Rating: <span id="imdb-rating" class="movie-details"></span></h4>
        <h4>Produced By: <span id="production" class="movie-details"></span></h4>
      </div>
      
      <!-- MOVIE POSTER -->
      <div class="col-md-4" style="text-align:center">
        <!--Section Title  --><div class="card text-white bg-secondary my-5 py-4 text-center"><div id="movie-title-div"><h2 id="movie-title">Poster</h2></div></div>
        <span id="movie-poster-span"></span>
      </div>

      <!-- PLOT -->
      <div class="col-md-4">
        <!--Section Title  --><div class="card text-white bg-secondary my-5 py-4 text-center"><div id="movie-title-div"><h2 id="movie-title">Plot</h2></div></div>
        <p class="card-text" id="movie-plot">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p> 
      </div>
    </div>
    <!-- END MOVIE DETAILS -->

  </div><!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Group 2, Cal Berkeley Data Analytics Bootcamp 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  
  <script src="../static/js/response.js"></script>

</body>

</html>